/* resent blog post start*/
.blog {
  text-align: center;
  padding-top: 5%;
  color: #545454;
  padding-bottom: 7%;
}

.resent-blog {
  display: flex;
  flex-direction: column;
}
.blog-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}
.blog-content {
  margin-left: 60px;
}
.blog-title {
  display: flex;
  flex-direction: row;
}
.name-author {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.blog-name {
  color: #545454;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  text-align: left;
}

.blog-author {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  margin-top: -15px;
  text-align: left;
}
.date {
  color: #787878;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border: solid;
  text-align: center;
}
.date-number {
  font-size: 30px;
}
.date-border {
  width: 100px;
}

.blog-text {
  padding: 0;
  margin-top: 20px;
  width: 45vw;
  display: flex;
  flex-direction: row;
}
.text-inner {
  text-align: justify;
  margin-top: 20px;
  margin: 0;
}
.button-read {
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #545454;
  text-align: left;
  margin-top: 30px;
}
/* resent blog post end*/
